<div class="jumbotron bg-white text-center">
  <h1 class="display-4">Covid-19 Tracker : {{selectedCountry}}</h1>
  <hr />

  <div class="ui padded equal height grid">
    <div class="two wide column">
      <a class="ui label" style="width: -webkit-fill-available">
        <img class="ui right spaced avatar image" />
        List of Countries
      </a>
      <div class="ui middle aligned selection animated list anyClass">
        <div class="item sticky-top bg-light text-dark">
          <div class="content">
            <div class="header d-flex p-2" (click)="getWordwideData()">
              <i class="globe icon"></i>Worldwide
            </div>
          </div>
        </div>

        <div class="item" *ngFor="let item of countries">
          <div class="content">
            <div class="header d-flex p-2" (click)="myFunction(item)">
              {{ item }}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="fourteen wide stretched column">
      <div class="ui equal height grid">
        <div class="sixteen wide column">
          <div class="row">
            <div class="card col p-3 m-3 ui inverted segment">
              <div class="ui inverted statistic">
                <div class="label">Total Confirmed</div>
                <div class="value">
                  {{ totalConfirmed }}
                </div>
              </div>
            </div>

            <div class="card col p-3 m-3 ui inverted segment">
              <div class="ui violet inverted statistic">
                <div class="label">Total Active Cases</div>
                <div class="value">
                  {{ totalActive }}
                </div>
              </div>
            </div>

            <div class="card col p-3 m-3 ui inverted segment">
              <div class="ui green inverted statistic">
                <div class="label">Total Recovered</div>
                <div class="value">
                  {{ totalRecovered }}
                </div>
              </div>
            </div>

            <div class="card col p-3 m-3 ui inverted segment">
              <div class="ui red inverted statistic">
                <div class="label">Total Death</div>
                <div class="value">
                  {{ totalDeath }}
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="eight wide column">
          <google-chart [data]="pieChart"></google-chart>
        </div>
        <div class="eight wide column">
          <google-chart [data]="pieChart"></google-chart>
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="grid-child">
    <a class="ui label" style="width: -webkit-fill-available">
      <img class="ui right spaced avatar image" />
      List of Countries
    </a>
    <div class="ui middle aligned selection animated list anyClass">
      <div class="item sticky-top bg-light text-dark">
        <div class="content">
          <div class="header d-flex p-2">
            <i class="globe icon"></i>Worldwide
          </div>
        </div>
      </div>

      <div class="item" *ngFor="let item of countries">
        <div class="content">
          <div class="header d-flex p-2" (click)="myFunction(item)">
            {{ item }}
          </div>
        </div>
      </div>
    </div>
  </div> -->

  <!-- <div class="grid-child">
    <div class="row">
      <div class="card col p-3 m-3 ui inverted segment">
        <div class="ui inverted statistic">
          <div class="label">Total Confirmed</div>
          <div class="value">
            {{ totalConfirmed }}
          </div>
        </div>
      </div>

      <div class="card col p-3 m-3 ui inverted segment">
        <div class="ui violet inverted statistic">
          <div class="label">Total Active Cases</div>
          <div class="value">
            {{ totalActive }}
          </div>
        </div>
      </div>

      <div class="card col p-3 m-3 ui inverted segment">
        <div class="ui green inverted statistic">
          <div class="label">Total Recovered</div>
          <div class="value">
            {{ totalRecovered }}
          </div>
        </div>
      </div>

      <div class="card col p-3 m-3 ui inverted segment">
        <div class="ui red inverted statistic">
          <div class="label">Total Death</div>
          <div class="value">
            {{ totalDeath }}
          </div>
        </div>
      </div>
    </div>
  </div> -->
</div>


<country-list [countryData]="countryWiseData"></country-list>
<!-- <counting-comp [count]="selectedCount" ></counting-comp>
<chart-comp [chart]="globalData"></chart-comp> -->
