<div class="jumbotron bg-white text-center">
    <h1 class="display-4">Covid-19 Tracker countrywise</h1>
    <hr>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque porro accusantium minus quibusdam sequi, cupiditate, magnam, corporis quam libero aliquid ea laudantium ut. Numquam explicabo, quasi cumque earum labore in.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos omnis officiis veniam vel illum itaque eveniet consectetur soluta nam saepe, impedit labore corporis velit fugiat iure tempore. Itaque, ducimus accusamus!</p>
</div>